* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 135vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    background-image: url('photo/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
}

.nav ul {
    position: absolute;
    display: flex;
    width: 718px;
    gap: 20px;
    list-style: none;
    justify-content: center;
    background-color: #F6F9FC;
    align-self: center;
    text-align: end;
    /* align-items: center; */
    flex-direction: row;
    left: 244px;
    top: 188px;
    font-size: 27px;
    border-radius: 17px;
}

.nav-icon {
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: contain;
}

.nav-link:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transition: 0.3s;
}

.nav ul li a:hover {
    color: #2900cb;
    transition: 0.3s;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: #122736;
    text-decoration: none;
}

.logo {
    position: absolute;
    background-image: url(photo/logo5.jpg);
    background-size: cover;
    height: 500px;
    width: 500px;
    left: 162px;
    /* justify-content: center; */
    top: 179px;
    align-items: center;
    border-radius: 50%;
    border: 7px solid #28587d;
}

.logo:hover {
    background-image: url(photo/logo2.jpeg);
    transition: 0.7s;
}

.des {
    text-transform: capitalize;
    position: absolute;
    left: 131px;
    top: 28px;
    border: 2px solid;
    align-items: center;
    display: flex;
    background-color: #e2ecf7;
    height: 122px;
    width: 571px;
    border-radius: 60px;
    font-size: 24px;
    text-align: center;
}


.des:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main-area {
    justify-content: center;
    position: absolute;
    color: #183449;
    left: 129px;
    top: 300px;
    height: 151px;
    width: 906px;
    display: flex;
}

.name {
    top: 49px;
    display: flex;
    font-size: 48px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    position: absolute;
    left: 138px;
    text-shadow: 9px 9px 15px #295B7F;
    color: #1f4968;
}



.footer {
    position: absolute;
    top: 1056px;
    left: 231px;
    color: #436e92;
    font-size: 31px;
    text-align: center;
    justify-content: center;
    font-size: 23px;
}

h1 {
    position: absolute;
    color: #183449;
    left: 460px;
    top: 257px;
    font-size: 38px;
}

.tap {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 702px;
    width: 750px;
    background-color: #f0f5f9;
    border-radius: 15px;
    top: 335px;
    left: 225px;
    font-size: 24px;
}

table td {
    text-align: center;
    padding: 0px;
    border: 3px solid rgb(209 226 247);
    border-radius: 10px;
}


table thead th {
    background-color: #436e92;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-color: white;
    border-radius: 11px;
}

table tr:hover {
    background-color: rgb(205, 223, 247);

}

.form {
    position: relative;
    top: 352px;
    left: 560px;
    transform: translateX(-50%);
    width: 500px;
    height: 634px;
    background-color: #f0f5f9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #1c486a;
    border: 2px solid;
}


.form input[type="submit"] {
    background-color: #122736;
    color: #f0f5f9;
    font-size: 20px;
}

.form input:hover {
    background-color: rgb(205, 223, 247);
    color: #1c486a;

}

.form input {
    width: 307px;
    height: 64px;
    background-color: #f0f5f9;
    border-radius: 15px;
}

.user {
    position: absolute;
    top: 379px;
    left: 535px;
    transform: translateX(-50%);
    width: 572px;
    height: 411px;
    background-color: #f0f5f9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #1c486a;
    border: 2px solid;
}

.user input {
    width: 345px;
    height: 39px;
    background-color: #f0f5f9;
    border-radius: 15px
}

.user input:hover {
    background-color: rgb(205, 223, 247);
    color: #1c486a;

}

.info-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user input[type="submit"] {
    background-color: #122736;
    color: #f0f5f9;
    font-size: 20px;
}

.info ul {
    position: absolute;
    display: flex;
    gap: 98px;
    list-style: none;
    background-color: #F6F9FC;
    flex-direction: row;
    left: 237px;
    top: 823px;
    font-size: 25px;
    border-radius: 10px;
    color: #28587d;
    border: 3px solid;
}

.conectlink {
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: contain;

}


.info span:hover {
    color: #2900cb;
    transition: 0.3s;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width:767px) {
    .user {
        top: 352px;
        left: 536px;
        width: 502px;
        height: 411px;
        font-size: 29px;

    }



    .tap {
        left: 178px;
        height: 587px;
    }


    .nav ul {
        gap: 16px;
        left: 178px;
        top: 193px;
        font-size: 28px;
        width: 720px;
        height: 42px;
    }

}


@media (min-width:992px) {
    .user {
        left: 562px;
    }

    .info ul {
        left: 264px;
    }

    .name {
        font-size: 43px;
        left: 216px;
        top: 55px;
    }

}